/* responsive utilities*/

/* less than*/

@mixin sm-less {
    @media only screen and (max-width: 576px) {
        @content;
    }
}

@mixin md-less {
    @media only screen and (max-width: 768px) {
        @content;
    }
}

@mixin lg-less {
    @media only screen and (max-width: 992px) {
        @content;
    }
}

@mixin xl-less {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

/* more than*/

@mixin sm-more {
    @media only screen and (min-width: 577px) {
        @content;
    }
}

@mixin md-more {
    @media only screen and (min-width: 769px) {
        @content;
    }
}

@mixin lg-more {
    @media only screen and (min-width: 993px) {
        @content;
    }
}

@mixin xl-less {
    @media only screen and (max-width: 1199px) {
        @content;
    }
}

/* only*/

@mixin sm {
    @media only screen and (min-width: 768px) and (max-width: 992px) {
        @content;
    }
}

@mixin md {
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
        @content;
    }
}

/* arbitrary*/

@mixin less($value) {
    @media only screen and (max-width: $value) {
        @content;
    }
}

@mixin more($value) {
    @media only screen and (min-width: $value) {
        @content;
    }
}

@mixin between($start, $end) {
    @media only screen and (min-width: $start) and (max-width: $end) {
        @content;
    }
}

/* dpi*/

@mixin device-2dppx {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        @content;
    }
}

@mixin device-1dppx {
    @media (-webkit-max-device-pixel-ratio: 1), (max-resolution: 1dppx) {
        @content;
    }
}

/* browser specific*/

@mixin webkit {
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        @content;
    }
}

@mixin firefox {
    @-moz-document url-prefix() {
        @content;
    }
}

@mixin centerer($x: 50%, $y: 50%) {
    position: absolute;
    top: $x;
    left: $y;
    transform: (translate(-50%, -50%));
}

@mixin plusMinus($width, $lineWidth, $color) {
    box-sizing: border-box;
    transition: transform 0.3s;
    width: $width;
    height: $width;
    transform: rotate(180deg);
    position: absolute;
    right: 0;
    top: 10px;
    display: inline-block;
    &.active {
        transform: rotate(0deg);
    }
    &::before {
        content: '';
        display: block;
        width: $width;
        height: 0;
        border-bottom: solid $lineWidth $color;
        position: absolute;
        bottom: $width /2 - $lineWidth/2;
        transform: rotate(90deg);
        transition: width 0.3s;
    }
    &.active::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-bottom: solid $lineWidth $color;
        position: absolute;
        bottom: $width /2 - $lineWidth/2;
        transform: rotate(90deg);
    }
    &::after {
        content: '';
        display: block;
        width: $width;
        height: 0;
        border-bottom: solid $lineWidth $color;
        position: absolute;
        bottom: $width /2 - $lineWidth/2;
    }
}