.block-simple{
    .image{
        width: 350px;
        margin: 0 auto;
        display: block;
        @include md-less{
            margin-bottom: 40px;
        }
    }
    .content{
        @include md-less{
            text-align: center;
        }
    }
}