.block-tile{
    .content{
        text-align: center;
        padding: 20px 60px;
        @include md-less{
            padding: 15px;
        }
    }
    .banner-image{
        width: 100%;
    }
    .single-tile{
        @include lg-less{
            margin-bottom: 30px;
        }
    }
}