.block-text{
    text-align: center;
    .text{
        margin-bottom: 10px;
        &.plain{
            text-transform: none;
            margin-bottom: 10px;
        }
    }
    .image{
        width: 100%;
        margin: 40px 0;
        &.svg{
            height: 100px;
        }
    }
    .link{
        margin: 10px 0;
        font-size: 12px;
        position: relative;
        display: inline-block;
        &:before{
            content: '';
            position: absolute;
            height: 1px;
            bottom: 0;
            width: 100%;
            background-color: $red;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out 0s;
        }
        &:hover{
            &:before{
                visibility: visible;
                transform: scaleX(1);
            }
        }
        .arrow{
            display: inline-block;
            height: 8px;
            vertical-align: baseline;
        }
    }
    .logo{
        margin-bottom: 40px;
    }
    .roles{
        list-style: none;
        padding: 0;
        margin: 0;
        .role{
            color: $red;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 12px;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            .arrow{
                display: inline-block;
                height: 8px;
                vertical-align: baseline;
            }
        }
    }
    .subsection{
        padding: 30px 0;
    }
    .reqs{
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        .req{
            &:before{
                content: '•';
                color: $black;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}