.block-image{
    min-height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &.small{
        min-height: 350px;
    }
    &.large{
        min-height: 750px;
    }
}