.block-banner{
    text-align: center;
    color: $white;
    padding: 100px 0;
    .heading{
        font-weight: 600;
        font-size: 42px;
    }
    &.alternate{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 20px 0 20px;
            border-color: $red transparent transparent transparent;
        }
    }
}