.block-article{
    .content{
        .subheading{
            margin: 10px 0;
        }
    }
    .summary{
        padding: 0 0 0 15px;
        margin: 0;
        .item{
            color: $red;
            font-size: 20px;
        }
    }
    .tags{
        list-style: none;
        padding: 0;
        margin: 40px 0;
        @include md-less{
            margin: 20px 0;
        }
        .tag{
            display: inline-block;
            color: $white;
            background-color: $dark-grey;
            padding: 10px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
        }
    }
}