.block-hero{
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @include sm-less{
        height: 50vh;
    }
    &.small{
        height: 50vh;
    }
    &.overlay{
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: $black;
            opacity: 0.6;
        }
    }
    .content{
        position: relative;
        z-index: 2;
    }
    .logo{
        height: 100px;
        margin-bottom: 40px;
        width: 100%;
    }
}