.studies{
    display: none;
}

.case-study{
    @include md-less{
        padding-top: 0;
    }
    .case-study-bg-image{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        @include md-less{
            position: static;
            min-height: 350px;
        }
        &.overlay{
            &:after{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: $black;
                opacity: 0.6;
                @include md-less{
                    display: none;
                }
            }
        }
        &.contain{
            background-size: contain;
            background-position: right center;
        }
    }
    .subject{
        .client{
            display: block;
            color: $red;
            margin: 0;
            font-weight: 600;
            font-size: 20px;
            &.white{
                color: $white;
                @include md-less{
                    color: $red;
                }
            }
        }
        .service{
            text-transform: uppercase;
            color: $light-grey;
            letter-spacing: -0.5px;
            &.white{
                color: $white;
                @include md-less{
                    color: $light-grey;
                }
            }
        }
        .link{
            color: $red;
            text-decoration: none;
            font-size: 12px;
            position: relative;
            display: inline-block;
            &:before{
                content: '';
                position: absolute;
                height: 1px;
                bottom: 30px;
                left: 15px;
                right: 15px;
                background-color: $red;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover{
                transform: scale(1,1);
                &:before{
                    visibility: visible;
                    transform: scaleX(1);
                }
            }
            .arrow{
                height: 8px;
                display: inline-block;
                vertical-align: baseline;
            }
            &.alternate{
                margin-top: 30px;
                &:before{
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                }
            }
            &.white{
                color: $white;
                @include md-less{
                    color: $red;
                }
            }
        }
    }
    &.bg-image{
        position: relative;
        min-height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @include md-less{
            background: none;
            min-height: auto;
            display: block;
        }
    }
    .blog{
        .banner{
            img{
                width: 100%;
            }
        }
        &.list{
            text-align: center;
            .banner{
                @include md-less{
                    margin-top: 15px;
                }
            }
        }
    }
    .subject-title{
        display: block;
        text-transform: uppercase;
        color: $light-grey;
        &.white{
            color: $white;
            @include md-less{
                color: $red;
            }
        }
        @include md-less{
            margin: 10px 0 0 0;
        }
    }
    .summary{
        padding: 0 60px;
        @include lg-less{
            padding: 15px;
        }
        .heading.white{
            @include md-less{
                color: $black;
            }
        }
        .text.white{
            @include md-less{
                color: $dark-grey;
            }
        }
    }
}

.case-buttons{
    display: block;
    font-size: 30px;
    font-weight: 600;
    .case-icon{
        display: inline-block;
        height: 22px;
        vertical-align: baseline;
    }
    &.rotate{
        .case-icon{
            transform: rotate(180deg);
        }
    }
}