.btn{
    &.btn-custom{
        background-color: transparent;
        color: $white;
        border-radius: 3px;
        padding: 6px 30px;
        text-transform: uppercase;
        font-size: 14px;
        justify-content: center;
    }
    &.bg-red{
        background-color: $red;
    }
    &.nav{
        background-color: $red;
        svg{
            display: inline-block;
            vertical-align: inherit;
            width: 14px;
        }
    }
    &.alternate{
        border: 1px solid $white;
        svg{
            display: inline-block;
            vertical-align: baseline;
            height: 10px;
            margin-left: 10px;
        }
    }
}

.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
    border: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
}