.carousel-item {
    height: 100vh;
    min-height: 300px;
    background-color: $white;
    align-items: center;
    @include sm-less{
        align-items: flex-end;
    }
    @include md-less{
        height: 81vh;
    }
    &.contain{
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
    }
    &.cover{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &.overlay{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $carousel-overlay;
            opacity: .6;
        }
    }
    .heading{
        @include sm-less{
            margin-bottom: 150px;
        }
    }
}

.carousel-indicators{
    z-index: 5;
}

.carousel-indicators li {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: $red;
    position: relative;
    margin: 0 20px  0 0;
    flex: none;
    &:before{
        display: none;
    }
    &:last-child{
        margin: 0 0 0 0;
    }
    &.active{
        background-color: $black;
        &:after{
            content: '';
            display: inline-block;
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid $black;
            left: -5px;
            top: -5px;
        }
    }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display: flex;
}
.carousel-caption{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    &.left{
        text-align: left;
        @include sm-less{
            text-align: center;
        }
    }
    &.right{
        text-align: right;
        @include sm-less{
            text-align: center;
        }
    }
    &.center{
        text-align: center;
        @include sm-less{
            text-align: center;
        }
    }
    .text{
        @include sm-less{
            display: none;
        }
    }
}

.carousel-image-wrapper{
    &.greyscale{
        img {
            filter: grayscale(100%);
            @include md-less{
                height: 100px;
            }
        }
    }
}