.footer{
    padding: 60px 0 10px 0;
    .content{
        padding: 15px 0;
        @include sm-less{
            text-align: center;
        }
        .btn-custom{
            margin-top: 20px;
        }
    }
    .footer-list{
        padding: 0;
        margin: 0;
        list-style: none;
        @include sm-less{
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .footer-item{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
        .arrow{
            display: inline-block;
            vertical-align: baseline;
            height: 8px;
            transform: translateX(0);
            transition: all 0.3s ease;
        }
        .link.page{
            &:hover{
                transform: translateX(5px);
            }
        }
    }
    .social-media{
        list-style: none;
        padding: 0;
        margin: 35px 0 0 0;
    }
    .icon{
        height: 12px;
        transform: translateY(0);
        transition: all 0.3s ease;
    }
    .social-item{
        display: inline-block;
        margin-right: 10px;
        &:last-child{
            margin-right: 0;
        }
        .link.social{
            &:hover{
                .icon{
                    transform: translateY(-5px);
                }
            }
        }
    }
}