.list{
    .content{
        text-align: center;
    }
    .link{
        text-align: center;
        padding: 30px 15px;
        transform: scale(1,1);
        .arrow{
            display: inline-block;
            height: 8px;
            vertical-align: baseline;
        }
        .data-collection-svg,
        .dpd4,
        .website4,
        .mobile4,
        .pim3,
        .ar2,
        .print3{
            transition: fill 0.3s ease;
        }
        .website4{
            fill: $white;
        }
        &:hover{
            transform: scale(1.2,1.2);
            .data-collection-svg,
            .dpd4,
            .website4,
            .mobile4{
                fill: $red;
            }
            .pim3,
            .ar2,
            .print3{
                stroke: $red;
            }
        }
    }
    .svg-wrapper{
        max-width: 72px;
        margin: 0 auto;
    }
    .text{
        padding: 0 20px;
        margin: 20px 0;
        @include md-less{
            padding: 0;
        }
    }
}