.logo-list{
    .logos{
        display: flex;
        padding: 30px 0;
        margin: 0;
        list-style: none;
        flex-direction: row;
        justify-content: space-around;
    }
    .logo-item{
        display: inline-block;
        @include md-less{
            margin: 0 50px;
        }
    }
    .item-wrapper{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.alternate{
            height: 100%;
            > img{
                width: 100%;
            }
        }
    }
    .text{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .carousel-wrapper{
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }
    .carousel-container-100{
        width: 100%;
        text-align: left;
        white-space: nowrap;
    }
    .promotion-item{
        display: inline-block;
        padding: 20px 0;
        user-select: none;
        vertical-align: bottom;
        z-index: 0;
        text-align: center;
    }
}