$white: #fff;
$black: #000;
$red: #E14851;
$carousel-overlay: #F0F0F0;
$grey: #F0F0F0;
$dark-grey: #606060;
$light-grey: #979797;
$dark-blue: #384045;
$apopo-blue: #003660;
$apopo-dark-blue: #002742;
$nfn-pink: #FFD9EE;
$raildiary-red: #E95D60;
$raildiary-dark-red: #CD383C;
$font: 'Work Sans', sans-serif;


$text-color: $dark-grey;
$heading-color: #111;
$link-color: $red;
$link-visited-color: $red;
$base-font-family: $font;
$base-font-size: 14px;
$base-font-weight: 300;
$heading-font-family: $font;
$heading-font-weight: 500;

$mf-font-size: 14px;
$mf-active-font-size: $mf-font-size * 0.8 !default;
$mf-active-top: -$mf-font-size !default;

$mf-gap: $mf-font-size * 1.5 !default;
$mf-spacer: $mf-font-size / 8 !default;
$mf-fieldset-margin: 0 0 $mf-gap * 2 !default;

$mf-input-color: $dark-grey !default;
$mf-border-color: $dark-grey !default;
$mf-label-color: $dark-grey;
$mf-active-color: darken($mf-border-color, 10%) !default;
$mf-focus-color: $red !default;
$mf-error-color: #d9534f !default;

$mf-transition-speed: 0.28s !default;